name: Publish

on:
  push:
    tags:
      - "v*"

jobs:
  test:
    uses: ./.github/workflows/test.yml@main

  deploy:
    needs: "test"
    environment: production
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
      - uses: actions/checkout@v6
      - uses: devcontainers/action@v1
        with:
          publish-features: true
          base-path-to-features: './src'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
